<!doctype html>
<html lang="en-US">

<head>
    {% include "_includes/header.html" %}
</head>

<body>
    <!-- Main Nav -->
        {% include "_includes/nav.html" %}
    <!-- /Main Nav -->

    <!-- ABOUT -->
    <section id="about">
    <div class="container">

        {% if PERSONAL_PHOTO %}
        <div class="me-picture text-center">
            <div class="item">
            <img class="img-responsive" src="{{PERSONAL_PHOTO}}" width="200" height="200" alt="" />
            </div>
        </div>
        {% endif %}


        <header class="text-center">
        <h1>Cedric Pinson</h1>
        </header>


        <div class="divider"><!-- lines divider --></div>

        {% if PERSONAL_INFO %}
        <article class="text-center big-paragraph">
            <p>{{PERSONAL_INFO}}</p>
        </article>
        {% endif %}

        <!-- <article>
        <div class="row text-left"> -->

            <!-- Passion -->
        <!--  <div class="col-md-4">
            <h3>Passion</h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas metus nulla, commodo a sodales sed, dignissim pretium nunc. Nam et lacus neque. Ut enim massa, sodales tempor convallis et, iaculis ac massa. Etiam suscipit nisl eget lorem pellentesque quis iaculis mi mattis.</p>
            </div> -->


            <!-- Precision -->
            <!-- <div class="col-md-4">
            <h3>Precision</h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas metus nulla, commodo a sodales sed, dignissim pretium nunc. Nam et lacus neque. Ut enim massa, sodales tempor convallis et, iaculis ac massa. Etiam suscipit nisl eget lorem pellentesque quis iaculis mi mattis.</p>
            </div> -->


            <!-- Simplicity -->
            <!-- <div class="col-md-4">
            <h3>Simplicity</h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas metus nulla, commodo a sodales sed, dignissim pretium nunc. Nam et lacus neque. Ut enim massa, sodales tempor convallis et, iaculis ac massa. Etiam suscipit nisl eget lorem pellentesque quis iaculis mi mattis.</p>
            </div> -->

        <!-- </div>
        </article> -->

    </div>
    </section>
    <!-- /ABOUT -->


    {% include "_includes/footer.html" %}

</body>
</html>
