    <div id="slider">

        <ul class="slides-container">

        <!-- Item 1 -->
        <li>
            <div class="image-caption">
            <hr /><hr />
            <div class="inner">
                <h2 class="bigtext strtoupper nomargin">{{ SITENAME|e }}</h2>
            </div>
            <hr /><hr />
            </div>
            <span class="overlay"></span>
            <div style="background-image: url('http://images.nationalgeographic.com/wpf/media-live/photos/000/763/cache/egret-fog-reflection_76312_990x742.jpg');" class="fullscreen-img"></div>

        </li>
        </ul>

    </div>
